.projects{
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}
.title{
  margin-top: 50px;
  h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
    font-family: 'Gilroy-Medium', sans-serif;
  }
}

.btn__line{
  margin-top: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Gilroy-Light', sans-serif;
  img{
    width: 50px;
    height: 1px;
  }

  &:hover{
    img{
      width: 70px;
      transition: 0.5s;
    }
  }
  span{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    margin-left: 10px;
  }
}


@media (max-width: 776px) {
  .projects{
    display: grid;
    grid-template-columns: auto;
    gap: 0;
  }
}