header{
  background-image: url("../../assets/images/header.png");
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: left;
  align-items: center;

  .content{
    .icon{
      font-size: 40px;
    }
    &__text{
      h2{
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: normal;
        font-size: 50px;
        line-height: 50px;
        span{
          font-family: 'Gilroy-Bold', sans-serif;
        }
      }
    }

    button{
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      span{
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}
