@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

body{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Bold', sans-serif;

}

.container{
  width: 1250px;
  margin: 0 auto;
}
