@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}
body{
  font-family: 'Gilroy-Bold', sans-serif;
  background-color: #efefef;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  li{
    list-style-type: none;
  }
}

.container{
  width: 1250px;
  margin: 0 auto;
}


@media (max-width: 776px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }
}